<a href="https://colab.research.google.com/github/yashyenugu/ML-assignment/blob/Naive-Bayes/Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Naive Bayes

## Packages

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Data Preprocessing

In [23]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [54]:
path = '/gdrive/My Drive/Projects/ML_Models/dataset_NB.txt'

### Reading from the file

In [55]:
with open(path, "r") as file1:
    FileasList = file1.readlines()

In [57]:
FileasList[0:10]

['So there is no way for me to plug it in here in the US unless I go by a converter.  0\n',
 'Good case, Excellent value. 1\n',
 'Great for the jawbone.  1\n',
 'Tied to charger for conversations lasting more than 45 minutes.MAJOR PROBLEMS!! 0\n',
 'The mic is great.   1\n',
 'I have to jiggle the plug to get it to line up right to get decent volume.  0\n',
 'If you have several dozen or several hundred contacts, then imagine the fun of sending each of them one by one. 0\n',
 'If you are Razr owner...you must have this! 1\n',
 'Needless to say, I wasted my money. 0\n',
 'What a waste of money and time!.    0\n']

In [72]:
dict_data = {'text':[], 'label':[]}
for i in FileasList:
  label = i[-2]
  string = i[:-2]
  dict_data['text'].append(string)
  dict_data['label'].append(label)
dict_data['label'][-1] = '0'

In [73]:
dict_data['label'][-10:]

['0', '0', '0', '0', '0', '0', '0', '0', '0', '0']

In [74]:
text_data = pd.DataFrame(dict_data)

In [75]:
text_data.head()

                                                text label
0  So there is no way for me to plug it in here i...     0
1                       Good case, Excellent value.      1
2                           Great for the jawbone.       1
3  Tied to charger for conversations lasting more...     0
4                               The mic is great.        1

In [76]:
text_data['label'].value_counts()

1    500
0    500
Name: label, dtype: int64

### Pandas

In [36]:
df = pd.read_csv('/gdrive/My Drive/Projects/ML_Models/dataset_NB.txt', names=["data"])

In [37]:
df.head()

                                                data
0  So there is no way for me to plug it in here i...
1                                          Good case
2                          Great for the jawbone.  1
3  Tied to charger for conversations lasting more...
4                              The mic is great.   1

In [45]:
print(df['data'][0][-1])

0

In [ ]:
for i in df:
  printf

In [ ]:
dict_data = {'text':[], 'label':[]}
for i in df['data']:
  label = i[-1]
  print(label)
  string = i[:-1]
  dict_data['text'].append(string)
  dict_data['label'].append(label)

In [52]:
print(dict_data['text'][1])

Good cas

In [48]:
text_data = pd.DataFrame(dict_data)

In [49]:
text_data.head()

                                                text label
0  So there is no way for me to plug it in here i...     0
1                                           Good cas     e
2                           Great for the jawbone.       1
3  Tied to charger for conversations lasting more...     0
4                               The mic is great.        1

In [ ]:
text_data['label'].value_counts()