# Fisher's Linear Discriminant

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv("dataset_FLD.csv",header = None)
df.columns = ["feature 1","feature 2", "feature 3","label"]

In [10]:
df

     feature 1  feature 2  feature 3  label
0    -6.672418  -1.206198  -1.081050      0
1     1.675598   0.614994  -0.971600      0
2    -4.039058   0.335102   0.544618      1
3     0.793526  -0.235277   0.551771      1
4     3.820273  -0.274691   0.454743      1
..         ...        ...        ...    ...
995  -3.680139   0.966962  -0.904337      0
996  -4.063900   0.802611   1.023708      1
997  -0.814430  -0.693945   0.876776      1
998  -0.325122  -0.759024   1.299772      1
999  -1.503431  -0.269458  -1.124390      0

[1000 rows x 4 columns]

In [12]:
positives = df[df["label"] == 1]
negatives = df[df["label"] == 0]